body {
    background-color: #f8f9fa;
    color: #202122;
    overflow-y: scroll;
}
html, body {
    font-family: sans-serif;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
}
body {
    display: block;
    margin: 8px;
}
html {
    font-size: 100%;
}
